<!DOCTYPE html>
<html>

<head>
    <title>Real-time Dots</title>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
    <script>
        $(document).ready(function () {
            // Connect to the server
            var socket = io.connect('http://krafton604.iptime.org');

            // Create local peer connection
            var localPeerConnection = new RTCPeerConnection();
            var remotePeerConnection = new RTCPeerConnection();

            // Handle join event
            $('#joinButton').click(function (event) {
                socket.emit('join');
            });

            // Handle waiting event
            socket.on('waiting', function (data) {
                console.log("Waiting for another player...");
                console.log(data);
                $("#isMatched").text("Waiting for another player...");
                $("#alarm").text("User " + data['sid'] + " entered room " + data['room_id']);
            });

            // Handle matched event
            socket.on('matched', function (data) {
                console.log("Matched!");
                console.log(data);
                $("#isMatched").text("Matched!");
                $("#alarm").text("User " + data['sid'] + " entered room " + data['room_id']);

                // Get local video stream and display it in the local video element
                navigator.mediaDevices.getUserMedia({video: true, audio: true})
                    .then(function (stream) {
                        $('#localVideo').get(0).srcObject = stream;
                        localPeerConnection.addStream(stream);
                        localPeerConnection.createOffer()
                            .then(function (offer) {
                                localPeerConnection.setLocalDescription(offer);
                                socket.emit('offer', {
                                    'room_id': data['room_id'],
                                    'offer': offer
                                });
                            });
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            });

            // Handle offer event
            socket.on('offer', function (data) {
                console.log("Received offer from the other player");
                console.log(data);
                remotePeerConnection.setRemoteDescription(new RTCSessionDescription(data['offer']));
                remotePeerConnection.createAnswer()
                    .then(function (answer) {
                        remotePeerConnection.setLocalDescription(answer);
                        socket.emit('answer', {
                            'room_id': data['room_id'],
                            'answer': answer
                        });
                    });
            });

            // Handle answer event
            socket.on('answer', function (data) {
                console.log("Received answer from the other player");
                console.log(data);
                localPeerConnection.setRemoteDescription(new RTCSessionDescription(data['answer']));
            });

            // Handle ICE candidate event for local peer connection
            localPeerConnection.onicecandidate = function (event) {
                console.log("Local ICE candidate created");
                console.log(event);
                if (event.candidate) {
                    socket.emit('icecandidate', {
                        'room_id': last_created_room,
                        'candidate': event.candidate
                    });
                }
            }

            // Handle ICE candidate event for remote peer connection
            remotePeerConnection.onicecandidate = function (event) {
                console.log("Remote ICE candidate created");
                console.log(event);
                if (event.candidate) {
                    socket.emit('icecandidate', {
                        'room_id': last_created_room,
                        'candidate': event.candidate
                    });
                }
            }

            // Handle ICE candidate event from other player
            socket.on('remote_icecandidate', function (data) {
                console.log("Received remote ICE candidate");
                console.log(data);
                if (data['candidate']) {
                    localPeerConnection.addIceCandidate(new RTCIceCandidate(data['candidate']));
                }
            });

        });
    </script>
</head>
<body>
<h1>RTC test</h1>
<p>
    <button id="joinButton">Join</button>
</p>
<p id="isMatched"></p>
<p id="alarm"></p>
<video id="localVideo" width="320" height="240" autoplay></video>
<video id="remoteVideo" width="320" height="240" autoplay></video>
</body>
</html>