<!DOCTYPE html>
<html>
<head>
  <title>Game Client</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
</head>
<body>

<h1>client side</h1>

<div id="match-message" style="display: none;">
  <p>A match has been found! Starting game...</p>
</div>

<script>
  const socket = io.connect('http://krafton604.iptime.org:7777');

  socket.emit('join_queue');

  socket.on('match', data => {
    const { client1, client2 } = data;
    console.log(`Match found between ${client1} and ${client2}!`);
    // Display match message to user
    const matchMessage = document.getElementById('match-message');
    matchMessage.style.display = 'block';
    // Start game
    startGame();
  });

  function startGame() {
    // Add code to start the game here
  }
</script>

</body>
</html>
